<div class="menu-section-container">
	@if (section().header) {
	<h2 class="section-header"[ngStyle]="{ background: getSectionTextColor(), 'font-size': '2.2rem' }">{{ section().header }}</h2>
	}	<p-panel
		[header]="section().name"
		styleClass="menu-section-panel"
		[ngStyle]="{ '--panel-header-bg': getSectionBackgroundColor(), '--panel-header-font-size': '2rem'}"
	>
		<div class="grid" [style]="{ 'background-color': 'white' }">
			@for (item of itemsWithFullImageUrls(); track item.id) {
			<div class="col-12">
				<div class="menu-item-row">
					@if (item.imageUrl && item.showImage) {
					<app-image
						[src]="item.imageUrl"
						[alt]="'Immagine di ' + item.name"
						[title]="item.name"
						cssClass="menu-item-image"
					/>
					}
					<div class="menu-item-content">
						<h4 [ngStyle]="{ color: getSectionTextColor() }">
							{{ item.name }}
						</h4>
						@if (item.description) {
						<p
							class="menu-item-description"
							[ngStyle]="{ color: getSectionTextColor() }"
						>
							{{ item.description }}
						</p>
						}
					</div>
					<div class="menu-item-price">
						<span class="price">€{{ item.price }}</span>
					</div>
				</div>
			</div>
			}
		</div>
	</p-panel>
</div>
