@if (menuConnection) {
  <div>
    @if (menuConnection.connected() && showConnectionStatus()) {
      <div class="connection-status connected">Connected to menu updates</div>
    } @else if (!menuConnection.connected()) {
      <div class="connection-status disconnected">Connecting to menu updates...</div>
    }
    @if (menuConnection.resource.value(); as menuResource) {
      <div class="background-wrapper" [ngStyle]="getBackgroundStyle(menuResource)">
        <app-multi-page-menu [menu]="menuResource"></app-multi-page-menu>
      </div>
    } @else {
      <div class="loading">Loading menu...</div>
    }
  </div>
} @else {
  <div class="no-connection">
    <div class="loading">Initializing menu connection...</div>
  </div>
}
